* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(168, 34%, 41%);
  width: 100%;
  font-family: 'Fraunces',sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

/* ===================================================== */
#page-wrapper { 
  background-color: orange;
  width: 100%;
}

#page-wrapper > header {
  background-color: hsl(200, 100%, 62%);
  width: 224px;
  height: 100px;

  padding: 0px 25px;

  position: sticky;
  top: 0px;
  /* z-index: 3; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#header-logo {
  width: 130px;
  height: 25px;
}

#header-logo > img {
  width: 125px;
  height: 25px;
}

#nav-bar {
  width: 25px;
  height: 25px;
}

#mobile-hamburger {
  cursor: pointer;
}

#nav-bar > ul {
  display: none;
}




/*
colocar el css del block de notas 
/* ===================================================== */
footer {
  background-color: hsl(168, 34%, 41%);
  background-color: chocolate;
  width: 240px;
  height: 360px;

  display: flex;
  flex-direction: column;
}

#footer-logo {
  height: 40px;
  display: flex;
  justify-content: center;

  margin-top: 70px;
}

#footer-logo > svg {
  transform: scale(1.4);
}

#footer-page-links {
  height: 100px;
  margin-top: 24px;

  display: flex;
  justify-content: center;
  
}

#footer-page-links > ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}

#footer-page-links > ul > li > a {
  text-decoration: none;

  color: hsl(167, 40%, 24%);
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 600;
  
}

#footer-social-links {
  height: 30px;
  margin-top: 45px;
}

#footer-social-links > ul {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 40px;
}


.footer-social-icons {
  transform: scale(1.2);
}

.footer-svg > path {
  fill: hsl(167, 40%, 24%);
}


@media only screen and (240px < width){
  #page-wrapper > header {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media only screen and (340px < width){
  #footer-page-links {
    height: 30px;
    margin-top: 60px;
    
  }
  
  #footer-page-links > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
  }

  #footer-social-links {
    margin-top: 79px;
  }
}





/* #footer-page-links {
  height: 80px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  
}

#footer-page-links > ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  
} */












/* 500px threeshold mobile - 640 px

@media only screen and (400px < width){
  #orange-mobile-img {
    display: none;
  }

  #orange-desktop-img {
    display: flex;
  }
}

@media only screen and (420px < width){
  #mobile-front-orange {
    display: none;
  }

  #front-page-img > img:last-child {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  #front-page-wrapper > h1 {
    top:135px;
  }

  #down-arrow {
    top:160px;
  }

  #down-arrow > img {
    width: 35px;
    height: 110px;
  }

  #cherry-mobile-img {
    display: none;
  }

  #cherry-desktop-img {
    display: flex;
  }

  .pair-div {
    width: 33.3%;
    height: 100%;
  }
  
  .third-element {
    display: flex;
  }
  
}

@media only screen and (470px < width){
  .type2-img-wrapper {
    display: flex;
  }

  .type2-img-wrapper > img:first-of-type {
    display: none;
  }
  
  .type2-img-wrapper > img:last-of-type {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
  }

  #egg-img {
    background-color: hsl(50, 100%, 50%);
  }

  #glass-img {
    background-color: chocolate;
    width: 100%;
  }

  #left-glass-img {
    background-color: hsl(7, 98.5%, 71%);
    width: 50%;
    display: flex;
  }

  #rigth-glass-img {
    background-color: hsl(4, 100%, 69.7%);
    width: 50%;
  }

  #rigth-glass-img > img:first-child {
    display: none;
  }

  #rigth-glass-img > img:last-child {
    display: flex;
  }

  #desktop-glass-img {
    width: 372px;
    height: 100%;

    object-fit: contain;
    position: relative;
    left: -185px;

  }

  #img-gallery-wrapper {
    display: flex;
  }

  .img-gallery-pair {
    height: 100%;
  
    display: flex;
  }

  .pair-div {
    width: 50%;
    height: 100%;
  }

  .mobile-gallery-img {
    display: none;
  }

  .desktop-gallery-img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }
  
  .third-element {
    display: none;
  }

}

@media only screen and (521px < width){
  #front-page-wrapper > header {
    background-color: hsl(200, 100%, 62%);
    
  }

  #mobile-hamburger {
    display: none;
  }

  #nav-bar {
    width: 70%;
    height: 40px;
  }
  
  #nav-bar > ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6%;
    list-style: none;
  }

  #nav-bar > ul > li:last-child {
    width: 115px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #nav-bar > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: 'Barlow';
    font-weight: 600;
  }

  #nav-bar > ul > li > #contact-link {
    background-color: white;
    padding: 10px 16px;
    border-radius: 24px;
    color: black;
  }

  #nav-bar > ul > li > #contact-link:hover {
    background-color: hsl(200, 100%, 72%);
    color: white;
  }

  #front-page-wrapper > h1 {
    background-color: darkred;
    
    width: 90%;
    top: 135px;
    left: 25px;
  }

}

@media only screen and (590px < width){
  #nav-bar {
    padding-right: 16px;
  }
  
  #nav-bar > ul > li > #contact-link {
    background-color: white;
    padding: 14px 24px;
    border-radius: 24px;
    color: black;
  }

}



@media only screen and (768px < width){
  #nav-bar > ul {
    gap: 45px;
  }

  .desktop-gallery-img {
    object-fit:fill;
  }
} */






/* 
PAGE SECTIONS DIMENSION (in px)

Total: 5219
  * front-page = 560
  * egg-sec = 770
  * glass-sec = 770
  * fruit-sec = 1240
  * testimonials = 1159
  * img-gallery = 360
  * footer = 360

*/
