* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --front-page-background: 1;
}

body {
  background-color: hsl(168, 34%, 41%);
  width: 100%;
  font-family: 'Fraunces',sans-serif;
}

#page-root {
  display: flex;
  flex-direction: column;
}

/* ===================================================== */
#page-wrapper { 
  background-color: orange;
  width: 100%;
  height: 4859px;
}

#page-wrapper > header {
  background-color: hsl(200, 100%, 62%);
  width: 240px;

  height: 100px;

  padding: 0px 25px;

  position: sticky;
  top: 0px;
  z-index: calc(var(--front-page-background) + 2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#header-logo {
  width: 125px;
  height: 25px;
}

#header-logo > img {
  width: 125px;
  height: 25px;
}

#nav-bar {
  width: 25px;
  height: 25px;
}

#mobile-hamburger {
  cursor: pointer;
}

#nav-bar > ul {
  display: none;
}


main {
  background-color: darkgreen;
  width: 240px;
  max-width: 1440px;
  /* height: 4859px; */
  position: relative;
  top: -100px;
}

#front-page-wrapper {
  background-color: salmon;
  width: 100%;
  height: 560px;

}

#front-page-wrapper > h1 {

  width: 100%;
  height: 100px;

  position: relative;
  top:150px;
  z-index: calc(var(--front-page-background) + 1);

  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
}

#down-arrow {
  width: 100%;
  height: 100px;

  position: relative;
  top:210px;
  z-index: calc(var(--front-page-background) + 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#down-arrow > img {
  width: 40px;
  height: 120px;
}

#front-page-img {
  background-color: bisque;
  width: 100%;
  height: 560px;

  position: relative;
  z-index: var(--front-page-background);
  top: -200px;
}


#front-page-img > img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

#front-page-img > img:last-child {
  display: none;
}


.type2-sec-wrapper {
  width: 100%;
  height: 770px;
}

.type2-img-wrapper {
  width: 100%;
  height: 310px;
}

.type2-img-wrapper > img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.type2-img-wrapper > img:last-of-type {
  display: none;
}

.type2-text-wrapper {
  background-color: rgb(255, 240, 220);
  height: 460px;
  padding: 30px;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type2-title {
  height: 90px;

  color: hsl(212, 27%, 19%);
  font-size: 32px;
  font-weight: 900;

  margin-top: 40px;
  
}

.type2-paragraph {
  margin-top: 25px;

  color: hsl(213, 9%, 39%);
  font-family: 'Barlow',sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.type2-link{
  margin-top: 50px;
}

.type2-link > a {
  text-decoration: none;

  color: hsl(212, 27%, 19%);
  font-size: 18px;
  font-weight: 900;

  position: relative;
  z-index: 2;
}

.link-underline {
  width: 152px;
  height: 12px;

  border-radius: 10px;

  position: relative;
  top: -9px;
  z-index: 1;
}

#under-line-1 {
  background-color: hsla(51, 100%, 49%, 0.45);
}


/* #glass-sec-wrapper {
  background-color: chocolate;
  height: 770px;
} */

#left-glass-img{
  display: none;
}

#rigth-glass-img {
  width: 100%;
  height: 100%;
}

#rigth-glass-img > img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#rigth-glass-img > img:last-child {
  display: none;
}

#glass-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#glass-text-wrapper > p {
  width: 90%;
}

#under-line-2 {
  background-color: hsl(7, 99%, 70%,0.45);
}



#fruit-sec-wrapper {
  height: 1240px;
}

.type3-wrapper {
  background-color: burlywood;
  height: 620px;
  text-align: center;
}

.type3-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cherry-desktop-img {
  display: none;
}

.type3-text-wrapper {
  height: 200px;
  padding: 0px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: -230px;
}

.type3-title {
  font-size: 30px;
  font-weight: 900;
}

.type3-paragraph {
  margin-top: 40px;

  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  line-height: 24px;
}

#cherry-wrapper > div {
  color: hsl(167, 40%, 24%);
}

#tangerine-desktop-img {
  display: none;
}

#tangerine-wrapper > div {
  color: hsl(198, 62%, 26%);
}





#testimonials-wrapper {
  background-color: rgb(255, 240, 220);
  height: 1159px;
  padding: 30px;
  text-align: center;
}

#testimonials-wrapper > h2 {
  height: 30px;
  margin-top: 32px;
  color: hsl(210, 4%, 67%);
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 4px;

}

#clients-wrapper {
  height: 1070px;

  display: flex;
  flex-direction: column;
}

.client-testimonial {
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-testimonial > img {
  width: 75px;
  height: calc(with);
  border-radius: 50%;
}

.type4-paragraph {
  width: 90%;
  margin-top: 25px;

  color: hsl(213, 9%, 39%);
  font-family: 'Barlow';
  font-weight: 600;
  line-height: 24px;
}

.type41-title {
  margin-top: 30px;

  color: hsl(212, 27%, 19%);
  font-weight: 900;
}

.type42-title {
  margin-top: 12px;

  color: hsl(210, 4%, 67%);
  font-family: 'Barlow';
  font-size: 14px;
}

#img-gallery-wrapper {
  height: 360px;
}

.img-gallery-pair {
  width: 100%;
  height: 50%;

  display: flex;
}

.pair-div {
  width: 50%;
  height: 100%;
}

.third-element {
  display: none;
}

.mobile-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desktop-gallery-img {
  display: none;
}



footer {
  background-color: hsl(168, 34%, 41%);
  width: 240px;
  height: 360px;

  display: flex;
  flex-direction: column;
}

#footer-logo {
  height: 40px;
  display: flex;
  justify-content: center;

  margin-top: 70px;
}

#footer-logo > svg {
  transform: scale(1.4);
}

#footer-page-links {
  height: 100px;
  margin-top: 24px;

  display: flex;
  justify-content: center;
  
}

#footer-page-links > ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}

#footer-page-links > ul > li > a {
  text-decoration: none;

  color: hsl(167, 40%, 24%);
  font-family: 'Barlow';
  font-size: 18px;
  font-weight: 600;
}

#footer-social-links {
  height: 30px;
  margin-top: 45px;
}

#footer-social-links > ul {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 40px;
}


.footer-social-icons {
  transform: scale(1.2);
}

.footer-svg > path {
  fill: hsl(167, 40%, 24%);
}


@media only screen and (240px < width){
  #page-wrapper > header {
    width: 100%;
  }

  main {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media only screen and (340px < width){
  #footer-page-links {
    height: 30px;
    margin-top: 60px;
    
  }
  
  #footer-page-links > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
  }

  #footer-social-links {
    margin-top: 79px;
  }
}



/* 500px threeshold mobile - 640 px */

@media only screen and (400px < width){
  #tangerine-mobile-img {
    display: none;
  }

  #tangerine-desktop-img {
    display: flex;
  }

  #footer-page-links > ul > li > a {
    font-size: 24px;
  }

  #footer-social-links {
    margin-top: 72px;
  }

  #footer-social-links > ul {
    gap: 60px;
  }

  .footer-social-icons {
    transform: scale(1.5);
  }
}

@media only screen and (420px < width){
  #mobile-front-orange {
    display: none;
  }

  #front-page-img > img:last-child {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }

  #front-page-wrapper > h1 {
    top:125px;
  }

  #down-arrow {
    top:160px;
  }

  #down-arrow > img {
    width: 40px;
    height: 110px;
  }

  #cherry-mobile-img {
    display: none;
  }

  #cherry-desktop-img {
    display: flex;
  }

  .pair-div {
    width: 33.3%;
    height: 100%;
  }
  
  .third-element {
    display: flex;
  }

  
}

@media only screen and (470px < width){
  .type2-img-wrapper {
    display: flex;
  }

  .type2-img-wrapper > img:first-of-type {
    display: none;
  }
  
  .type2-img-wrapper > img:last-of-type {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
  }

  #egg-img {
    background-color: hsl(50, 100%, 50%);
  }

  #glass-img {
    background-color: chocolate;
  }

  #left-glass-img {
    background-color: hsl(7, 98.5%, 71%);
    width: 50%;
    display: flex;
  }

  #rigth-glass-img {
    background-color: hsl(4, 100%, 69.7%);
    width: 50%;
  }

  #rigth-glass-img > img:first-child {
    display: none;
  }

  #rigth-glass-img > img:last-child {
    display: flex;
  }

  #desktop-glass-img {
    width: 372px;
    height: 100%;

    object-fit: contain;
    position: relative;
    left: -185px;

  }


  #img-gallery-wrapper {
    display: flex;
  }

  .img-gallery-pair {
    height: 100%;
  
    display: flex;
  }

  .pair-div {
    width: 50%;
    height: 100%;
  }

  .mobile-gallery-img {
    display: none;
  }

  .desktop-gallery-img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }
  
  .third-element {
    display: none;
  }


}

@media only screen and (521px < width){
  #mobile-hamburger {
    display: none;
  }

  #nav-bar {
    width: 70%;
    height: 40px;
  }
  
  #nav-bar > ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6%;
    list-style: none;
  }

  #nav-bar > ul > li:last-child {
    width: 115px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  #nav-bar > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: 'Barlow';
    font-weight: 600;
  }

  #nav-bar > ul > li > #contact-link {
    background-color: white;
    padding: 10px 16px;
    border-radius: 24px;
    color: black;
  }

  #nav-bar > ul > li > #contact-link:hover {
    background-color: hsl(200, 100%, 72%);
    color: white;
  }

  #front-page-wrapper > h1 {
    width: 90%;
    top: 125px;
    left: 5%;
  }

}

@media only screen and (578px < width){
  #front-page-wrapper > h1 {
    top: 145px;
  }
}

@media only screen and (590px < width){
  
  #nav-bar > ul > li > #contact-link {
    background-color: white;
    padding: 14px 16px;
    border-radius: 24px;
    color: black;
  }
}


@media only screen and (768px < width){
  #nav-bar > ul {
    gap: 45px;
  }

  #page-wrapper {
    height: 3759px;
  }

  #main-wrapper {
    display: flex;
    justify-content: center;
  }

  main {
    height: 3759px;
  }

  .type2-sec-wrapper {
    display: flex;

    height: 540px;
  }

  .type2-img-wrapper {
    width: 50%;
    height: 100%;
  }

  .type2-text-wrapper {
    width: 50%;
    height: 100%;
  }


  #egg-img {
    position: relative;
    left: 50%;
  }

  #egg-img > img {
    object-fit: cover;
  }

  #egg-text-wrapper {
    position: relative;
    right: 50% ;
  }

  #left-glass-img {
    display: none;
  }

  #rigth-glass-img {
    width: 100%;
  }

  #desktop-glass-img {
    width: 100%;
    height: 100%;


    object-fit: cover;
    left: 0px;

  }

  #fruit-sec-wrapper {
    height: 620px;
    display: flex;
  }

  .type3-wrapper {
    width: 50%;
  }

  .pair-div {
    width: 50%;
    height: 100%;
  }

  #testimonials-wrapper {
    height: 1139px;
  }

  .desktop-gallery-img {
    object-fit:cover;
  }


  
} 














/* 
PAGE SECTIONS DIMENSION (in px)

Total: 5219

  > page-wrapper
    - header = 100
    - main = 4859 
      * front-page = 560
      * egg-sec = 770
      * glass-sec = 770
      * fruit-sec = 1240
      * testimonials = 1159
      * img-gallery = 360
  > footer = 360

*/