* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;

  font-family: 'Fraunces',sans-serif;

}

/* ===================================================== */
#page-wrapper { 
  background-color: orange;
  width: 100%;

  height: 100%;
  overflow: auto;
}

/* ===================================================== */
#front-page-wrapper {
  background-color: salmon;
  width: 100%;
  height: 560px;

}

#front-page-wrapper > header {
  background-color: hsl(200, 100%, 62%);
  width: 100%;
  height: 100px;

  padding: 0px 25px;

  position: absolute;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  width: 130px;
  height: 25px;
}

#header-logo > img {
  width: 125px;
  height: 25px;
}

#nav-bar {
  width: 25px;
  height: 25px;
}

#mobile-hamburger {
  cursor: pointer;
}

#nav-bar > ul {
  display: none;
}

#front-page-wrapper > h1 {
  width: 100%;
  height: 100px;

  position: relative;
  top:150px;
  z-index: 2;

  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6px;
}

#down-arrow {
  width: 100%;
  height: 100px;

  position: relative;
  top:210px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#down-arrow > img {
  /* background-color: orange; */
  width: 40px;
  height: 120px;
}

#front-page-img {
  background-color: bisque;
  width: 100%;
  height: 100%;

  z-index: 1;
  position: relative;
  top: -200px;
}
/* mobile img */
#front-page-img > img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: none; */
}
/* desktop img */
#front-page-img > img:last-child {
  display: none;
}


/* ===================================================== */
main {
  background-color: darkgreen;
  width: 100%;
  height: 4199px;
}

/* ===================================================== */
footer {
  background-color: hsl(168, 34%, 41%);
  width: 100%;
  height: 360px;
  /* padding-top: 30px; */

  display: flex;
  flex-direction: column;
}

#footer-logo {
  height: 40px;
  display: flex;
  justify-content: center;

  margin-top: 70px;
}

#footer-logo > svg {
  transform: scale(1.4);
}

#footer-page-links {
  height: 30px;
  margin-top: 30px;
}

#footer-page-links > ul {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 60px;
}

#footer-page-links > ul > li > a {
  text-decoration: none;

  color: hsl(167, 40%, 24%);
  font-family: 'Barlow';
  font-size: 18px;
  
}

#footer-social-links {
  height: 30px;
  margin-top: 75px;
}

#footer-social-links > ul {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 40px;
}


.footer-social-icons {
  transform: scale(1.2);
}

.footer-svg > path {
  fill: hsl(167, 40%, 24%);
}